.wrapper{
  height:@header-height;
  background: @primary;
  color: #fff;
  padding-right:25px;
  width:100%;
}

.back{
  float: left;
  line-height: @header-height;
}

.headerLeft{
  float: left;
  
}

.title{
  line-height: @header-height;
  border-left: 1px solid @border;
  padding-left: .5em;

}

.collapsedBtn{
  height: @header-height;
  width:@header-height;
  border:0;
  background: transparent;
  line-height: @header-height;
  color:@font;
}

.navRight{
  float: right;
  list-style: none;
  line-height: @header-height;
  >a{
    float: left;
    color: #fff;
    line-height: @header-height;
    padding: 0 10px;
  }
}

.project{
  float: left;
  line-height: @header-height;
}