.logo {
  background-color: #000;
  width: 100%;
  height: @header-height;
  padding: 3px 20px;
  > img {
    width: 190px;
  }
}
.collapsed {
  .logo {
    width: 66px;
    overflow: hidden;
  }
}
.wrapper {
  height: 100%;
  background-color: #000;
}
