.logo {
  background-color: #3f4651;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: @header-height;
  padding: 15px 20px;
  > img {
    width: 190px;
  }
}
.collapsed {
  .logo {
    width: 66px;
    overflow: hidden;
  }
}
.wrapper {
  height: 100%;
  padding-bottom: 50px;
  padding-top: @header-height;
  background-color: #3f4651;
  :global {
    .ant-menu {
      height: 100%;
      overflow: auto;
    }
    .ant-menu-dark,
    .ant-menu-dark .ant-menu-sub {
      background-color: #3f4651;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background-color: #3f4651;
      box-shadow: none;
    }
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
