.wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: @primary;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  font-size: @h4;
  display: flex;
  justify-content: center;
  align-items: center;
}
