.app-fr {
  float: right !important;
}

.app-fl {
  float: left !important;
}

.app-clearfix {
  .clearfix();
}

.app-danger {
  color: @danger;
}
.app-primary {
  color: @primary;
}
.app-info {
  color: @info;
}
.app-link {
  color: @primary;
  cursor: pointer;
}
.app-pointer {
  cursor: pointer;
}
.handler {
  .ant-btn {
    margin-right: 10px;
  }
}
